a:hover {
  text-decoration: underline;
  color: #4e54c8;
}

a {
  color: #0312ba;
}

.text-class-3 {
  font-size: 14px;
}

.link-class-3 {
  font-size: 12px;
  color: rgba(84,105,115,.9);
}

.color-class-3 {
  color: rgba(84,105,115,.9);
}

.link-class-3:hover {
  color: #4E4E4E;
}

.text-class-2 {
  font-size: 16px;
}

.secondary_description {
  text-decoration: underline;
}

.text-class-1 {
  font-size: 20px;
  font-weight: 600;
  color: #0312ba;
}

.clickable:hover {
  cursor: pointer;
}

#body_container {
  background-color: rgb(242, 247, 242);
  margin-top: 5vh;
  min-height: 450px;
}

#layout_header {
  border-bottom: 1px solid #d9dadb;
  height: 60px;
}

.message-body {
  background-color: white;
  color: black;
}

.less-more-button:hover {
  text-decoration: none;
  background: #dbdbdb;
  cursor: pointer
}

.less-more-button{
  font-size: 12px;
  color: #626262;
  background: #cccccc;
  border-radius: 5px;
  padding: 1.5px;
  line-height: 1
}
