a:hover {
  text-decoration: underline;
  color: #1774c6;
}

a {
  color: #0352ba;
}

.text-class-3 {
  font-size: 14px;
}

.link-class-3 {
  font-size: 12px;
  color: rgba(84,105,115,.9);
}

.color-class-3 {
  color: rgba(84,105,115,.9);
}

.link-class-3:hover {
  color: #4E4E4E;
}

.text-class-2 {
  font-size: 16px;
  color: #666d7c;
}

.secondary_description {
  text-decoration: underline;
}

.text-class-1 {
  font-size: 20px;
  font-weight: 600;
  color: #0352ba;
}

.clickable:hover {
  cursor: pointer;
}

#body_container {
  background-color: rgb(242, 247, 242);
  margin-top: 5vh;
  min-height: 450px;
}

#layout_header {
  border-bottom: 1px solid #d9dadb;
  height: 60px;
}

.message-body {
  background-color: white;
  color: black;
}

.less-more-button:hover {
  text-decoration: none;
  background: #dbdbdb;
  cursor: pointer
}

.content_box {
  border-radius: 5px 5px 5px 5px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 6px rgba(2,20,31,0.1);
}

.less-more-button{
  font-size: 12px;
  color: #626262;
  background: #cccccc;
  border-radius: 5px;
  padding: 1.5px;
  line-height: 1
}

.card_wrapper {
  background-color: #4158D0;
  border-radius: 5px 5px 5px 5px;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  padding: 3px 0 0 0;
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
}

.status_icon {
  color: #f0a500;
  font-size: 14px;
}

.status_icon:hover {
  text-decoration: underline;
  cursor: default;
}

.content_title {
  color: #36361F;
  font-size: 22px;
  font-weight: 600;
  //border-bottom: 1px solid #d9dadb;
  padding: 10px 10px 10px 0;
}

.small_icon {
  font-size: 12px;
  color: #f0a500;
}

.copy_button {
  color: dodgerblue;
}
.copy_button:hover {
  cursor: pointer;
  color: royalblue;
}
.filter_section {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}
.filter_button {
  margin: 2.5px;
}
