a:hover {
  text-decoration: underline;
  color: #4e54c8;
}

.text-class-3 {
  font-size: 0.8rem;
}
.text-class-3:hover {
  text-decoration: none;
}
.text-class-2 {
  font-size: 1.2rem;
  text-decoration: none;
  color: #0017f4;
}
.text-class-2:hover {
  color: #1f6de2;
  text-decoration: none;
}

.text-class-1 {
  font-size: 1.5rem;
}

.clickable:hover {
  cursor: pointer;
}

#body_container {
  background-color: rgb(242, 247, 242);
  margin-top: 5vh;
  min-height: 450px;
}

#layout_header {
  border-bottom: 1px solid #d9dadb;
  height: 60px;
}

.message-body {
  background-color: white;
  color: black;
}

.secondary_description {
    color: #8c9296;
  }

.less-more-button:hover {
  text-decoration: none;
  background: #dbdbdb;
  cursor: pointer
}
.less-more-button{
  font-size: 0.6rem;
  color: #8c9296;
  background: #cccccc;
  border-radius: 5px;
  padding: 1.5px;
  line-height: 1
}
